@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.hero {
  display: flex;
  flex-flow: column;
  background: #1f2937;
  padding: 24px 5vw 96px;
  gap: 96px;
}

.header, .hero-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
}

.content {
  flex: 1;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 12px 0;
}

.secondary-text, a {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background: #3882f6;
  color: #eee;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  margin: 12px 0;
}

.hero-img {
  flex: 1;
  min-width: 500px;
  max-width: 1000px;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.information {
  display: flex;
  flex-flow: column;
  background: #eee;
  padding: 48px 10vw 96px;
  gap: 48px;
}

.info-title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-content {
  display: flex;
  align-items: center;
  gap: 48px
}

.info-card {
  flex: 1;
  text-align: center;
  font-size: 18px;
  color: #1f2937;
}

.info-img {
  border: 3px solid #3882f6;
}

.quote {
  display: flex;
  flex-flow: column;
  background: #e5e7eb;
  padding: 96px 15vw;
  gap: 24px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote-credit {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 700;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  background: #3882f6;
  border-radius: 8px;
  padding: 3vw 9vw;
  margin: 48px 8vw;
}

.text-title {
  color: #f9faf8;
  font-size: 24px;
}

.text-sub {
  color: #e5e7eb;
  font-size: 18px;
}

.call-button {
  flex: 0 0 auto;
  border: 2px solid #eee;
  border-radius: 8px;
}

.footer {
  text-align: center;
  color: #eee;
  background: #1f2937;
  padding: 24px;
}